{% extends "project-base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
  POA&Ms
{% endblock %}

{% block head %}
{{block.super}}
{% include "controls/_style-controls.html" %}
{% endblock %}

<!-- action buttons included from project-base.html -->
<!-- authoring_tool_enabled included from project-base.html -->

{% block body_content %}
<div id="poams-table"></div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>
  window.poamsTable({{ system.id }});
</script>

{% endblock %}
