{% extends "base.html" %}


{% block title %}
Your Compliance Portfolios
{% endblock %}

{% block breadcrumbs %}
<li class="active">Your Compliance Portfolios</li>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}

<div class="portfolio-top">
  <div class="container"> 
    <div class="project-main">
      <a id="new-portfolio-link" href="/portfolios/new" class=" btn btn-success">Create a portfolio</a>
    </div>

    <h2 class="">Portfolios</h2>
    <div id="portfolio-table"></div>

  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    window.portfolioTable({});
  </script>
{% endblock %}