<div id="control_description_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="invitation_modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="invitation_modal_title">{{ control.id_display|upper }} {{ control.title }}</h4>
                
            </div> -->
            <form action="{% url 'edit_project' project.id %}" role="form" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <h4 class="modal-title" id="invitation_modal_title"><b>{{ control.id_display|upper }}</b> <span>({{ control.title }})</span></h4>
                    <br>
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Description</label>
                        <div class="control-text-modal">{{ control.description }}</div>
                    </div>
                    <hr>
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Part of</label>
                        <p class="control-text-modal">{{ catalog.catalog_key_display }}</p>
                    </div>
                    {% if control_matrix is not None %}
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Continuous Monitoring 1</label>
                        <p class="control-text-modal">The required control monitoring for {{ control.id_display|upper }} is <u>{{ control_matrix.REVIEW_FREQUENCY|lower }} {% if control_matrix.AUTOMATED == 'YES' %} and automated{% endif %}</u>. {{ control_matrix_doc.discussion }}</p>
                    </div>
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Responsibility 2</label>
                        <p class="control-text-modal">When hosted in the cloud, responsibility for {{ control.id_display|upper }} is likely {% if control_matrix.CLOUD_SHARED == 'YES' %} shared between you and{% else %}inherited from{% endif %} your cloud service provider. 
                        </p>
                    </div>
                    {% else %}
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_title">Continuous Monitoring 3</label>
                        <p class="control-text-modal">No information on monitoring is available.</p>
                    </div>
                    {% endif %}
                    <div class="form-group" data-children-count="1">
                        <label class="control-label" for="project_version">Guidance</label>
                        <p class="control-text-modal">{{ control.guidance }}</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% block scripts %}
    <script>
        function show_control_description_modal(callback) {
            var m = $('#control_description_modal');
            m.modal();
        }
    </script>
{% endblock %}
