{% extends "base.html" %}
{% load static %}
{% load q %}

{% block head %}
    <style>

        #project-icon {
            float: left;
            margin: 0 1.5em 1em 0;
        {% if title == project.root_task.module.spec.title %}
            /* if there's no subhead, match icon size to font size */
            width: 50px;
            height: 50px;
        {% else %}
            width: 80px;
            height: 80px;
        {% endif %}
        }

        h1 {
            margin: 0;
            font-size: 32px;
        }

        div.subtitle {
            margin: .2em 0 .75em 0;
            font-weight: bold;
        }

        .breadcrumb {
            font-size: 1.0em;
        }

        #focus-area-wrapper {
            padding: 2em 2em 3em 2em;
        }

        .link-black {
            color: black;
        }

        .link-black:hover {
            color: black;
        }

        .btn-action {
            text-align: left;
            padding-left: 25px;
        }

        #action-buttons, .action-button-box {
            width: 150px;
        }

        body {
            border-bottom: 0px !important;
            padding-bottom: 0px !important;

        }
    </style>
{% endblock %}

{% block contextbar %}{% endblock %}



{% block body %}
<!--<div class="row">
  <div class="col-md-12" style="padding:1em 0 1em 1em;">Breadcrumb here?</div>
</div>-->
    {{ block.super }}

        <div class="col-md-3 col-lg-2">


                {# if is_project_page #}


                  <style>
                  /* move this up or to css file. */

                  h2.project-title { margin:0; font-size:1.1em;}
                  .project-title a { color:#333; text-decoration:none;}
                  h3.port-hed { margin:0; font-size: .7em; color:#333;}
                  .project-info { border-top:1px solid #C0E6C0; border-bottom:1px solid #C0E6C0; display:block; margin:1.2em 0 1.5em 0; padding:.5em 0; font-size:.7em; width:95%; color:#333;}
                  .project-info-system-id { padding: 0 1em 0 0;}
                  .project-info-project-id { padding:0 0 0 1em;}
                  .unassessed { color: #333; font-weight:light;}
                  .project-info-compliance { font-size:.8em;}
                  .project-info-controls { font-size:.8em;}
                  .project-info-poams { font-size:.8em;}
                  .project-info-components { font-size:.8em;}
                  .project-info-systemcomponents { font-size: .7em;}
                  .project-info-systemcomponents a:link{ color: #95999B; }

                  .sidebar-info-block { border:1px solid #C0E6C0; padding:15px; background-color:#F1FAF1; border-radius: 5px; }

                  .fake-bar { display:block; height: 15px; width:100%; background-color:#80CC80; margin-bottom:1em;}

                  .sidebar-artifacts-box { font-size: 1em; display:block; margin-top:1em; padding:0 15px;}
                  .sidebar-artifacts { display:block; padding:0; margin:0;}
                  .sidebar-artifacts a {color:#666666; text-decoration:none;}
                  .sidebar-artifacts a:hover {color:#337ab7; text-decoration:none;}

                  .sidebar-artifacts li { list-style:none; padding-bottom:.5em; font-size:.8em;}
                  .sidebar-icon { padding-right:.3em;}
                  .sidebar-block { padding:2em 1em 1em 0; background-color: #FFFFFF;}

                  .sidebar-syscomp { padding:15px;}
                  .lighter { color:#666666;}
                  .bar-box { background-color:#E3EBE3; width:100%; height:12px;font-size:.5em; display:block; margin-bottom:1.5em;}
                  .bar-box-bar { background:#80CC80; height:12px; }
                  </style>



                  <div class="sidebar-block">

                  <div class="sidebar-info-block">
                  <h3 class="port-hed">Portfolio: <a href="{% url 'portfolio_projects' project.portfolio.id %}">{{ project.portfolio.title }}</a></h3>
                  <h2 class="project-title"><a href="{{project.get_absolute_url}}">{{ project.title }}</a></h2>

                  <div class="project-info">
                    <span class="project-info-system-id">System ID: {{ project.system.id }}</span>|<span class="project-info-project-id">Project ID: {{project.id}}</span>
                  </div>


                  <span class="project-info-compliance"><strong>{{ percent_compliant_100|floatformat:1 }}%</strong> compliance <span class="unassessed">(unassessed)</span></span><br />
                  <div class="bar-box"><div class="bar-box-bar" style="width:{{ percent_compliant_100|floatformat:1 }}%;"></div></div>

                  <span class="project-info-controls" onclick="window.location.assign('{% url 'controls_selected' system_id=project.system.id %}')" style="cursor: pointer;">Controls Addressed ({{ controls_status_count.Addressed }} of {{ project.system.root_element.controls.all|length }})</span>

                  <div class="bar-box"><div class="bar-box-bar" style="width:15%;"></div></div>


                  <span class="project-info-poams">Plan of Action & Milestones (7 of 28)</span>
                  <div class="bar-box"><div class="bar-box-bar" style="width:25%;"></div></div>

                  </div>

                  <div class="sidebar-syscomp" style="margin-top:1em;">

                    <div style="border-bottom:1px solid #ccc; display:block; margin-bottom:.5em;">
                  <span class="sidebar-icon glyphicon glyphicon-wrench"></span><span style="font-size:1em; font-weight:bold;">Components</span>
                    </div>

                    <span class="project-info-components" onclick="window.location.assign('{% url 'components_selected' system_id=project.system.id %}')" style="cursor: pointer;">System Components ({{ project.system.get_producer_elements|length }})</span><br />

                    <span class="project-info-systemcomponents">

                        {% for component in project.system.get_producer_elements %}
                            <a href={% url 'system_element' system_id=system.id element_id=component.id %}>{{ component.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>

                  </div>


                  <div class="sidebar-artifacts-box">
                    <div style="border-bottom:1px solid #ccc; display:block; margin-bottom:1em;">
                  <span class="sidebar-icon glyphicon glyphicon-list"></span><span style="font-size:1em; font-weight:bold;">Artifacts</span>
                    </div>
                  <ul class="sidebar-artifacts">

                    <!--<li><a href="#"><span class="sidebar-icon glyphicon glyphicon-book"></span> Controls</a></li>-->
                    <!--<li><a href="#"><span class="sidebar-icon glyphicon glyphicon-tag"></span> Components</a></li>-->
                    <!--<li><a href="#"><span class="sidebar-icon glyphicon glyphicon-list"></span> POA&Ms</a></li>-->
                    <!--<li><a href="#"><span class="sidebar-icon glyphicon glyphicon-duplicate"></span> Deployments</a></li>-->
                    <li><span class="sidebar-icon glyphicon glyphicon-list-alt lighter"></span><a href="#">Assessments</a></li>
                    <li><span class="sidebar-icon glyphicon glyphicon-list-alt lighter"></span><a href="#">PTA</a></li>
                    <li><span class="sidebar-icon glyphicon glyphicon-list-alt lighter"></span><a href="#">SSPs</a></li>
                  </ul>
                  </div>

                  <div id="focus-area-wrapper" style="padding:0; margin-top:0;">

                  <!-- Authoring mode code here for now -->

                      {% block above_title %}
                          {% if authoring_tool_enabled %}
                              <center class="authoring-tool-hidden authoring-tool-box">
                                  <p class="text-info">
                                      You are in author mode. Authoring tools have been enabled for this module.
                                  </p>
                              </center>

                              <center class="authoring-tool-hidden authoring-tool-box">
                                  <p>
                                      <a href="#" onclick="show_authoring_tool_module_editor(); return false;"
                                         class="authoring-tool-style">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                          Edit App
                                      </a>

                                      <a href="#"
                                         onclick="authoring_tool_new_question({{ project.root_task.id }}, true); return false;"
                                         class="authoring-tool-style">
                                          <span class="glyphicon glyphicon-plus"></span>
                                          Add Module
                                      </a>
                                  </p>
                              </center>
                          {% endif %}
                      {% endblock %}


                {% block action_buttons %}
                    {% if action_buttons %}
                        {% for q in action_buttons %}
                            <div class="action-button-box">
                                <div class="action-button-app-title">{{ project.root_task.module.spec.title }}</div>
                                {# Display for started tasks #}
                                {% if can_start_task and q.can_start_new_task %}
                                    <form id="question-{{ q.question.key }}" class="start-task" method="post"
                                          action="/tasks/start" style="display:inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="project" value="{{ project.id }}"/>
                                        <input type="hidden" name="question" value="{{ q.question.key }}"/>
                                        <input type="hidden" name="previous" value="project"/>
                                        <a class="btn btn-sm btn-default" class="action-button"
                                           href="#" onclick="$(this).parent('form').submit(); return false;">
                                            {{ q.question.spec.title }} &raquo;
                                        </a>
                                    </form>
                                {% else %}
                                    {# Display for not yet started tasks #}
                                    <a id="question-{{ q.question.key }}"
                                       class="btn btn-sm btn-default" class="action-button"
                                       href="{{ q.task.get_absolute_url }}?previous=project">
                                        {{ q.question.spec.title }} &raquo;
                                        {# use a stable title - dont make it depend on the task #}
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div> <!-- /focus-area-wrapper -->
        </div> <!-- /col -->



</div>

        <div class="col-md-7 col-lg-8" style="margin-top:30px;">

              {% block body_content %}
              {% endblock %}

        </div>

          <div class="col-md-2 col-lg-2">
<div style="padding:30px 0;">
            right sidebar functions go here sometimes but not always.
          </div>
            </div>

</div>
      <footer>
            <div class="row footer-row">
                {% include "footer.html" %}
            </div>
        </footer>



    {% include "edit-project-modal.html" %}
    {% include "edit-project-security-impact-levels-modal.html" %}
    {% include "move-project-modal.html" %}
    {% if authoring_tool_enabled %}
        <script src="{% static "vendor/js-yaml.min.js" %}"></script>
        <script src="{% static "js/authoring_tool.js" %}"></script>
        <style>.dropdown-menu.textcomplete-dropdown { z-index: 99999 !important; }</style> {# show over modal #}
        <script>
        $(function() {
          $('.authoring-tool-edit-question').click(function(e) {
            e.stopPropagation();
            show_question_authoring_tool($(this).data('key'));
          })
          init_authoring_tool({
            task: {{project.root_task.id}},
            module: {{project.root_task.module.spec|json}},
            module_yaml: "{{project.root_task.module.spec_yaml|escapejs}}",
            catalog_yaml: "{{project.root_task.module.app.catalog_metadata_yaml|escapejs}}",
            questions: {
              {% for q in project.root_task.module.questions.all %}
              {{q.key}}: {
                spec: {{q.spec|json}},
                choices: "{{q.choices_as_csv|escapejs}}",
                answer_type_module_id: {% if q.answer_type_module %}{{q.answer_type_module.id}}{% else %}null{% endif %}
              }{% if not forloop.last %},{% endif %}
              {% endfor %}
            },
            answer_type_modules: [{% for m in project.root_task.module.get_referenceable_modules %}
              { id: "{{m.id}}", title: "{{m.title|escapejs}} ({{m.module_name}})" }{% if not forloop.last %},{% endif %}
              {% endfor %}],
            autocomplete_questions: { }
          });
        });
        </script>
    {% endif %}
    {% block scripts %}
        <script>
            window.projectMenu({{ display_urls | json }});
            function show_import_project_modal(id, callback) {
                var m = $('#import_project_modal');
                $("#import_loading_spinner").hide();
                m.modal();
            }

            function fillJSONContent(file) {
                filecontents = $('#{{import_project_form.file.auto_id}}').prop('files')[0];
                var reader = new FileReader();
                reader.readAsText(filecontents);
                reader.onload = function (e) {
                    $('#{{import_project_form.json_content.auto_id}}').val(e.target.result);
                };
            }

            function show_spinner() {
                $("#import_loading_spinner").show();
            }

        </script>

    {% endblock %}
    {% block footer %}{% endblock %}
    {% include "controls/import_project_modal.html" %}

    {% block modals %}
    {% endblock %}
{% endblock %}
