{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
{{ portfolio.title }} Control
{% endblock %}

{% block head %}
{% include "controls/_style-controls.html" %}
{% endblock %}

Remove contextbar from top of page
{% block contextbar %}{% endblock %}

% block body-wide %
{% block body %}



    <div id="controls-table"></div>
   


{{ block.super }}
{% endblock %}

{% block scripts %}
  <script>
    window.controlsTable({});
  </script>
      {% comment %} <script>
        // Submits control id for Control look up box
        function show_control_by_id() {
          var control_id = $('#control-lookup').find('input[name="id"]').val();
          var url = "/controls/catalogs/{{ catalog.catalog_key }}/control/"+control_id;
          window.location.href = url;
        }
      </script> {% endcomment %}
{% endblock %}
